* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body { 
    background-image: url(./images/background_image.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    min-height: 100vh;
    max-height: 100%;
    
    }
header {
    text-align: center;
    font-family:"Bowlby One SC", cursive;
    font-weight: bold;
    font-size: 23px;
    border-bottom: 0px;
}
#p{
    font-family:'Sorts Mill Goudy', serif ;
    font-size: 19px;
    border-top: 1px;
    text-align: center;
}
main{
    background-color: rgba(0, 0, 0, 0.849);
    text-align: center;
    margin: 10px auto;
    padding: 25px;
    width: 400px;
}
.form{
text-align: left;
}
.personelinfo{ 
    line-height: 2;
}
.personelinfo input{
    height: 45px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.content select{
    height: 40px;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 15px;
}
.Type {
    margin-top: 17px;
    margin-bottom: 10px;
}
.gender {
    margin-top: 17px;
    margin-bottom: 17px;
}
#feedback{
    margin-bottom:10px ;
}
.submit{
    text-align: center;
    border-top: 10px;
}
input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    border-radius: 70px;
    text-align: center;
    margin: 1px 2px;
    padding: 10px 20px;
    text-decoration: none;
    width: 40%;
    margin-top: 10px;
}
#textarea{
    padding-top: 10px;
    padding-left: 10px;
}
input[type="submit"]:hover{
    background-color: white;
    color: red;
}